<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>One Piece</mat-card-title>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>

    <img src="{{ OnePiece }}" class="logo">

    <mat-card-content>
        <p>La serie comienza con la ejecución de Gol D. Roger, un hombre conocido como Rey de los Piratas (海賊王 Kaizoku-Ō?). Justo antes de su muerte, Roger hace mención de su gran tesoro legendario, el One Piece (ワンピース『ひとつなぎの大秘宝』 Wan Pīsu?) y que puede ser tomado por quien lo encuentre. Esto marca el inicio de una era conocida como la Gran Era Pirata (大海賊時代 Daikaizokujidai?). Como resultado, un sin número de piratas zarparon hacia el Grand Line con el objetivo de encontrarlo</p>
    </mat-card-content>
</mat-card>
