<!-- Barra nav 
<mat-toolbar color="primary" class="navbar">

    <span color="primary" (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
    </span>



    <a routerLink="/">
        <span>Home</span>
    </a>

    <span class="fil-remaining-space"></span>

</mat-toolbar>-->
<!-- test menu desplegable
{{ opened }}
-->
<!-- Contenido Menu 
<mat-sidenav-container>
    <mat-sidenav #sideNav [(opened)]="opened" mode="side" >
        <mat-nav-list>

            <a mat-list-item routerLink="posts">
                <mat-icon>book</mat-icon>Posts
            </a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <mat-nav-list>

            <a mat-list-item routerLink="profile">
                <mat-icon>account_circle</mat-icon>Profile
            </a>

        </mat-nav-list>


    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
        
</mat-sidenav-container>
-->


<!--Navbar-->
<nav #sideNav class="navbar navbar-2 white">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src="{{ logoOnePiece }}" class="logo"></a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
      aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
          <a mat-list-item routerLink="posts">
            <mat-icon>book</mat-icon>Posts
        </a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
          <a mat-list-item routerLink="profile">
            <mat-icon>account_circle</mat-icon>Profile
        </a>
        </li>
        
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
  <router-outlet></router-outlet>