a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}


.mat-card-image{
    height: 80%;
    //width: 250px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
p.content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* @media(max-width: 959px){

    .mat-card-image{
        height: 290px;
        width: 290px;

    }

} */

/* @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    
    .mat-card-image{
        height: 250px;
        width: 340px;

    }
}
 */
